.header-site{
    background-image: url('https://s3-sa-east-1.amazonaws.com/fernanda-curso-maio/foto-presente.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    padding-top: 380px;
    padding-bottom: 300px;

}
.content-site{
    padding-top: 100px;
    padding-bottom: 100px;  
}

.img-site{
    background-image: url('https://s3-sa-east-1.amazonaws.com/fernanda-curso-maio/foto-presente.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    padding-top: 200px;
    padding-bottom: 200px;

}


/*body{
    margin: 0;
    background-color:black;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 1000px;
    overflow: hidden;
}
.header-bg{
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 300%;
    background-image: url('foto.png');
    background-repeat: no-repeat;
    background-size: cover;
   /* background-position: center center;*/
   /*
}

.texto-header{
    color: white;
    padding-top: 150px;
    text-align: center;
    font-size: 20px

}
.teste{
     background-color: forestgreen;
}*/